<!DOCTYPE html>
<html>
<head>
  <title>Mytwitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <span>My Twitter</span>
      <div class="right">
        <% if user_signed_in? %>

            Logged in as <strong><%= current_user.email %></strong>.

            <p></p>
            <div style="clear:both"/>
            <div class="right">
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            </div>
        <% else %>

            <div class="right">
              <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
              <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</header>

<%= yield %>

</body>
</html>
